# Dependency directories
node_modules/
capacitor.config.ts
platforms/
plugins/

# Build files
dist/
build/

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# IDE and editor files
.vscode/
.idea/
*.iml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
*.swp
